@font-face{
   font-family: Header;
   src: url('../fonts/Harlow Solid Italic Italic.ttf');
}
h1{
	font-family: Header;
	text-align: middle;
    color: #cc2f62;
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    font-size: 80px;
    position: absolute;
    left: 300px;
    top: 80px;
}
h2{
   font-family: Tahoma;
 font-size: 25px; 
}
p{
 font-family: Tahoma;
 font-size: 18px;
}
nav {
    width:750px;
    position: absolute;
    right: 120px;
    top: 120px;
    list-style:none;
}
nav li {
    display:inline-block;
}
body {
    background:
    url('../img/food-left.png') top left no-repeat,
    url('../img/food-right.png') top right no-repeat,
    url('../img/food-top.png') top no-repeat, 
    -webkit-linear-gradient(top, #c9df0a 30%, green 20%, #7fe4d3 50%);
    background-attachment:fixed;  
    min-height: 400px;
    width: 960px;
}
div.transbox {
    margin: 30px;
    position: absolute;
    left: 100px;
    bottom: 50px; 
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox p {
    margin: 0%;
    font-weight: bold;
    color: #000000;
}